<mat-toolbar color="primary">
  <span>Angular chartjs</span>
</mat-toolbar>

<div class="container">
  Check details implment on Furetechnews.com
  <a
    href="https://furetechnews.com/how-to-implement-angular-chartjs-and-graphs-in-angular-14/"
    target="_blank"
  >
    How to implement chartjs in furetechnews.com with 5 example ?
  </a>

  <mat-tab-group>
    <mat-tab label="Pie Chart">
      Angular Pie Chart
      <app-pie-chart></app-pie-chart>
    </mat-tab>
    <mat-tab label="Bar Chart">
      Angular Bar Chart
      <app-bar-chart></app-bar-chart>
    </mat-tab>
    <mat-tab label="Doughnut Chart">
      Doughnut Chart
      <app-doughnut-chart></app-doughnut-chart>
    </mat-tab>
  </mat-tab-group>
</div>
